@media screen and (max-width: 900px) {


    #welcome-section {

        h1,
        p {
            padding: 0%;
            margin: 0%;
            width: 100%;
        }
    }

    #about {
        height: auto;
        display: block;

        .first-column,
        .second-column {
            width: 100%;

            p {
                width: 100%;
            }

            a {
                text-align: center;
            }
        }
    }

    #experience {
        background-color: rgb(122, 17, 38);
        //background-image: none;
        display: inline-block;
        width: 100vw;
        height: 200vh;

        .layer {
            display: block;
            width: 100%;

            #work,
            #education {
                display: block;
                width: 100vw;
                height: 100vh;
                padding: auto 0%;
                margin: auto 0%;
                text-align: center;

                div {
                    width: 100%;
                    text-align: center;

                    ul {
                        text-align: center;
                    }
                }

                h3 {
                    padding: 1em;
                    justify-content: center;
                }
            }
        }





    }

}

@media screen and (max-height: 816px) {

    #experience {
        .layer {

            #work,
            #education {
                height: 90vh;
            }

            height: 100vh;
        }
    }
}

@media screen and (max-height: 740px) {
    #experience {
        display: inline-block;
        height: 250vh;

        .layer {
            display: block;


            #work,
            #education {
                height: 125vh;

                div {
                    text-align: center;

                    ul {
                        text-align: center;
                        list-style: none;
                    }
                }
            }

            height: 100vh;
        }
    }
}


@media screen and (max-height: 400px) {
    #experience {
        display: inline-block;
        width: 100vw;
        height: 400vh;


        .layer {
            display: block;
            width: 100%;
            // background-color: rgba(220, 20, 60, 0.5);



            #work,
            #education {
                display: block;
                width: 100vw;
                height: 200vh;
                padding: auto 0%;
                margin: auto 0%;
                text-align: center;


                div {
                    width: 100%;
                    text-align: center;


                    ul {
                        text-align: center;
                        list-style: none;
                    }
                }

                h3 {
                    padding: 1em;
                    justify-content: center;
                }
            }
        }
    }
}