* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 1;

    ul {
        width: 50%;
    }

}

/*
  .logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }*/
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.nav-links li {
    list-style: none;
    padding-top: 4px;

    &:hover {
        padding-top: 0;
        border-top: 4px solid white;
    }
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;

        #welcome-section {

            h1,
            p {
                padding: 0%;
                margin: 0%;
                width: 100%;
            }
        }

        #about {
            height: auto;
            display: block;

            .first-column,
            .second-column {
                width: 100%;

                p {
                    width: 100%;
                }

                a {
                    text-align: center;
                }
            }
        }

        #experience {
            background-color: rgb(122, 17, 38);
            //background-image: none;
            display: inline-block;
            width: 100vw;
            height: 200vh + 16vh;

            .layer {
                display: block;
                width: 100%;

                #work,
                #education {
                    display: block;
                    width: 100vw;
                    height: 100vh;
                    padding: 0%;
                    margin: 8vh auto 0% auto;
                    text-align: center;

                    h3 {


                        img {
                            display: inline-block;
                            height: 30px;
                            //padding: 3%;
                        }


                    }


                    div {
                        width: 100%;
                        text-align: center;

                        ul {
                            text-align: center;
                        }
                    }

                    h3 {
                        padding: 1em;
                        justify-content: center;
                    }
                }
            }
        }

        #projects {
            margin: 10% auto 0% auto;
        }
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}

@media screen and (max-height: 816px) {

    #experience {
        .layer {

            #work,
            #education {
                height: 90vh;
            }

            height: 100vh;
        }
    }
}


@media screen and (max-height: 740px) {
    body {
        #experience {
            display: inline-block;
            width: 100vw;
            height: 400vh;

            .layer {
                display: block;
                //height: 300vh;
                width: 100%;


                #work,
                #education {
                    display: block;
                    width: 100vw;
                    height: 200vh;
                    padding: auto 0%;
                    margin: auto 0%;
                    text-align: center;

                    h3 {


                        img {
                            display: inline-block;
                            height: 6em;
                            //padding: 3%;
                        }


                    }

                    div {
                        width: 100%;
                        text-align: center;


                        ul {
                            text-align: center;
                            list-style: none;
                        }
                    }

                    h3 {
                        padding: 1em;
                        justify-content: center;
                    }
                }


            }
        }
    }

}


@media screen and (max-height: 400px) {
    body {
        #experience {
            display: inline-block;
            width: 100vw;
            height: 400vh;


            .layer {
                display: block;
                width: 100%;

                // background-color: rgba(220, 20, 60, 0.5);
                //height: 400vh;
                #work,
                #education {
                    display: block;
                    width: 100vw;
                    height: 200vh;
                    padding: auto 0%;
                    margin: auto 0%;
                    text-align: center;


                    div {
                        width: 100%;
                        text-align: center;


                        ul {
                            text-align: center;
                            list-style: none;
                        }
                    }

                    h3 {
                        padding: 1em;
                        justify-content: center;
                    }
                }
            }
        }
    }

}




.nav-active {
    transform: translateX(0%);
}

/*Animation for showing the links*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}